# Ignorer l'environnement virtuel Python
.venv/
venv/
env/

# Ignorer les fichiers de cache Python
**/__pycache__/
*.pyc

# Ignorer la base de données locale et les journaux d'audit (générés plus tard)
data/*.db
data/*.json